@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}

#botao {
    align-items: left;
    
}

#title {
    margin-top: 30px;
}

#input{
    margin-top: 15px;
    width: 50%;
}

.flexCheckChecked{
    text-decoration: line-through;

}

.form-check-label{
    margin-right: 5px;

}

.form-check-label[for="flexCheckChecked"]{
    text-decoration: line-through;

}
.fas fa-trash-alt{
    margin-left: 5px;
}